.intro-about {
    padding: 0 3rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.intro-about p {
    margin-bottom: 2rem;
}

@media screen and (min-width: 1200px) {

    .intro-about {
        padding-left: 350px;
        padding-right: 100px;
        text-align: left;
        font-size: 110%;
        margin-top: -50px;
    }

    .intro-about h1 {
        text-align: left;
    }

}