.work-section {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;    
    gap: 4rem;
    margin: 4rem 0;
}

/* .column {
    flex: 1 0 100%;
    display: flex;
    flex-flow: column;
    gap: 4rem;
} */

.work-card {
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.work-description {
    display: block;
    padding: 1rem 0 1rem 2rem;
    text-align: left;
}

.work-description li {
    line-height: 1.4;
}

.work-description ul {
    padding-bottom: 20px;
    color: var(--primaryfont);
    font-size: 90%;
}

.card-icon {
    display: none !important;
}

.work-pic-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.work-pic {
    margin: 0 auto;
    width: 90%; 
    border: solid 2px var(--primaryfont);
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    object-position: 50% 0;
}

figcaption {
    width: 90%;
    flex: 1 0 100%;
    color: var(--primaryfont);
    padding: 20px 0;
    font-size: 90%;
}

h3 {
    color: var(--primaryfont);
}

.sub {
    color: var(--highlighttext);
    font-size: 90%;
    padding-bottom: 0.5rem;
}

.work-btn {
    font-size: 80%;
    padding: 5px 1rem;
    margin-right: 1rem;
    border: solid 1px var(--headerbg);
    border-radius: 5px;
    background-color: var(--headercolor);
    color: var(--primaryfont)
}

.work-btn:hover {
    background-color: var(--headerbg);
    color: var(--headercolor)
}

@media screen and (min-width: 576px) {

    .work-section {
        gap: 2rem;
    }

    .work-pic-container {
        height: auto;
    }

   figcaption {
        padding: 0;
        position: absolute;
        bottom: 0;
        opacity: 0.9;
        background-color: var(--bodybg);
        padding: 2rem 1rem;
        width: 90%;
        transition: 1s ease;
        text-align: center;
        border: solid 1px var(--secondaryfont);
    }

    .work-description {
        display: none;
        padding: 1rem 0 1rem 2rem;
    }

    .transparent {
        opacity: 0;
        transition: 1s ease;
        height:auto;
    }

    .displayed {
        height: 100%;
        transition: 1s ease;
    }

    .work-card:hover figcaption {
        opacity: 0.95;
    }

    .card-icon {
        position: absolute;
        top: 0;
        right: 30px;
        display: block !important;
        border: none;
        border-radius: 50%;
        color: var(--primaryfont) !important;
    }

    .card-icon:hover {
        color: var(--headerbg) !important; 
    }

}

@media screen and (min-width: 768px) {

    figcaption {
        padding: 4rem 2rem;
    }

    .work-card {
        max-width: 700px;
    }
}

@media screen and (min-width: 1200px) {
   
    .portfolio-container {
        margin-top: 130px;
        padding-left: 350px;
    }

    .work-section {
        padding-right: 10px;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .portfolio-h1 {
        text-align: left;
    }

    .work-card {
        align-items: flex-start;
        max-width: 500px;
    }

    .work-pic-container {
        height: 400px;
    }

    .work-pic {
        margin: 0;
        width: 100%;
        object-position: 0 0;
    }

    figcaption {
        width: 100%;
        padding-top: 30px;
    }
}

@media screen and (min-width: 1700px) {
   
    .portfolio-container {
        margin-top: 130px;
        padding-left: 260px;
    }
}