* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --headerbg: #53ACC7;
  --headercolor: white;
  --bodybg: whitesmoke; 
  --primaryfont: #261C15;
  --secondaryfont: grey;
  --errortext: #C42021;
  --highlighttext: #157145;
}

body {
  /* setting a font size for all child elements that can then be relatively referenced */
  font-size: 20px;
  /* sets the space between lines of text */
  line-height: 1.2;
  font-family: 'Barlow Semi Condensed', Tahoma, Verdana, sans-serif;
}

.container {
  height: auto;
  width: 100%;
  background: var(--bodybg);
}

main {
  background-color: var(--bodybg);
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.isFixed {
  position: fixed;
}


