* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --headerbg: #EE6352;
  --headercolor: white;
  --bodybg: whitesmoke; 
  --cardbg: white;
  --titlefont: #0c0c0c;
  --primaryfont: #363020;
  --headerhover: #363020;
  --secondaryfont: white;
  --errortext: #C42021;
  --navactive: #EE6352;
  --highlighttext: #157145;
  --btnborder:#EE6352;
  --btnbg:white;
  --btnbghover:#EE6352;
}

.bw-mode {
  --headerbg: black;
  --headercolor: white;
  --bodybg: whitesmoke; 
  --cardbg: white;
  --titlefont: #0c0c0c;
  --primaryfont: #0c0c0c;
  --secondaryfont: white;
  --headerhover: #cccccc;
  --errortext: #C42021;
  --navactive: #157145;
  --highlighttext: #157145;
  --btnborder:black;
  --btnbg:white;
  --btnbghover:black;
}

.dark-mode {
  --headerbg: #121212;
  --headercolor: #E3E3E3;
  --bodybg: #1E1E1E; 
  --cardbg: #121212;
  --titlefont: #eeeeee;
  --primaryfont: #E3E3E3;
  --secondaryfont: #0c0c0c;
  --headerhover: #EA80FC;
  --errortext: #C42021;
  --navactive: #EA80FC;
  --highlighttext: #03DAC6;
  --btnborder:#EA80FC;
  --btnbg:#121212;
  --btnbghover:#EA80FC;
}

html {
  overflow-y: scroll;
}

body {
  /* setting a font size for all child elements that can then be relatively referenced */
  font-size: 20px;
  /* sets the space between lines of text */
  line-height: 1.2;
  font-family: 'Barlow Semi Condensed', Tahoma, Verdana, sans-serif;
  color: var(--primaryfont);
}

h1 {
  color: var(--titlefont);
}

.container {
  height: auto;
  width: 100%;
  background: var(--bodybg);
}

main {
  background-color: var(--bodybg);
  min-height: calc(100vh - 80px);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.isFixed {
  position: fixed;
}


